.node[mystyle] .node-text {
	padding-left: 32px !important;
	margin-left: 0px !important;
}

/*修改看板左对齐*/
#detail-wrap .node[layout=kanban].node-top > .kanban-wrap, #detail-wra
p .node-top[layout=kanban].node-top > .kanban-wrap {
    max-width: 100%;
    padding-left: 0;}
/*修改看板并列*/
#detail-wrap .node[layout=kanban] > .kanban-wrap > .node-child, #detail-wrap .node-top[layout=kanban] > .kanban-wrap > .node-child {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    border: none;
}/*看板过度*/
#detail-wrap .node[layout=kanban] > .kanban-wrap > .node-child > .node > .node-child, #detail-wrap .node-top[layout=kanban] > .kanban-wrap > .node-child > .node > .node-child {
    
    height: 100%;
    overflow-y: auto;
    
}
/*修改看板多余内容*/
#detail-wrap .node[layout=kanban] > .kanban-wrap > .node-child > .node > .node-child, #detail-wrap .node-top[layout=kanban] > .kanban-wrap > .node-child > .node > .node-child {
    display: block;
    border: none;
    margin-left: 0;
    padding-left: 0;
    padding-bottom: 2px;
     min-height: 0px;
    height: 100%;
    overflow-y: auto;
    max-height: 660px;
}
/*修改看板宽度*/
.nodes{
    flex-basis: 600px !important;
